{% extends "base.html" %}

{% block main_content %}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li class="active">Google Map</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row" style="height:100%">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div id="map" style="height: 500px">
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->


    </div><!-- /.page-content -->
</div><!-- /.main-content -->

{% endblock %}

{% block inline_scripts %}
<script>
    var map;
    var markers = [];
    var infowindow;
    function initMap() {
        var sanfrancisco = new google.maps.LatLng(37.7748713162388, -122.398531708276);

        map = new google.maps.Map(document.getElementById('map'), {
            center: sanfrancisco,
            zoom: 15
        });

        map.addListener('click', function (event) {
            clearMarkers();

            $.post("{{ url_for('nearby') }}", {'lat':event.latLng.lat(), 'lng':event.latLng.lng()}).success(function(data) {
                data.forEach(function (item) {
                    addMarker({lat: item['latitude'], lng: item['longitude']}, item);
                })
            });

        });

        infowindow = new google.maps.InfoWindow();
    }

    // Adds a marker to the map and push to the array.
    function addMarker(location, item) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        marker.set('item', item);

        marker.addListener('click', function() {
            $.get("/foodtrucks/" + marker.get('item').locationid).success(function (data) {
                infowindow.setContent(generateContent(data));

                infowindow.open(map, marker);
            });
        });

        markers.push(marker);
    }

    function generateContent(data) {
        var content = "<h3>" + data.applicant + "</h3>";
        content += "<p>" + data.locationdescription + "</p>";
        content += "<p>" + data.fooditems + "</p>";

        return content;
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    // Shows any markers currently in the array.
    function showMarkers() {
        setMapOnAll(map);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATDpX5RMTZb5mbEwr9upfQ-LnXXTWm7xE&callback=initMap"
        type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"/>
{% endblock %}
