{% extends 'base.html' %}

{% block main_content %}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li class="active">Triangle</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-5">
                <!-- PAGE CONTENT BEGINS -->
                <form id="mainform" action="{{ url_for('index') }}" method="post">
                    <div class="form-inline">
                        <input name="length01" id="length01" class="input-small" type="text" placeholder="X" value="{{ request.form['length01'] }}">
                        <input name="length02" id="length02" class="input-small" type="text" placeholder="Y" value="{{ request.form['length02'] }}">
                        <input name="length03" id="length03" class="input-small" type="text" placeholder="Z" value="{{ request.form['length03'] }}">
                        <input type="submit" value="submit" />
                    </div>
                    {{ message|safe }}
                </form>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
{% endblock %}

{% block plugin_scripts %}
    <script src="/static/assets/js/jquery.validate.min.js"></script>
{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
        var validator;

        jQuery(function ($) {

            validator = $('#mainform').validate({
                errorElement: 'span',
                errorClass: 'help-block red'
            });

            $.validator.addMethod('gt', function (value, el, param) {
                return value > param;
            });

            $('#length01').rules("add", {required:true, number:true, gt:0, messages: {gt:'please input a valid number'}});
            $('#length02').rules("add", {required:true, number:true, gt:0, messages: {gt:'please input a valid number'}});
            $('#length03').rules("add", {required:true, number:true, gt:0, messages: {gt:'please input a valid number'}});
        });

    </script>
{% endblock %}